asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
cryptoaddress==0.2.1
Django==3.2.16
django-jquery==3.1.0
idna==3.4
packaging==23.0
Pillow==9.4.0
pydantic==1.10.4
pysha3==1.0.2
python-dotenv==0.21.1
pytz==2022.7.1
replicate==0.4.0
requests==2.28.2
sqlparse==0.4.3
typing_extensions==4.4.0
urllib3==1.26.14
